[submodule "Dockerfile/epgstation/epgstation"]
	path = Dockerfile/epgstation/epgstation
	url = https://github.com/fetburner/EPGStation.git
[submodule "Dockerfile/arib-b25-stream-test/libaribb25"]
	path = Dockerfile/arib-b25-stream-test/libaribb25
	url = https://github.com/tsukumijima/libaribb25.git
[submodule "Dockerfile/ffmpeg/aribb24"]
	path = Dockerfile/ffmpeg/aribb24
	url = https://github.com/nkoriyama/aribb24.git
[submodule "Dockerfile/ffmpeg/ffmpeg"]
	path = Dockerfile/ffmpeg/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "Dockerfile/recpt1/recpt1"]
	path = Dockerfile/recpt1/recpt1
	url = https://github.com/stz2012/recpt1.git
[submodule "Dockerfile/recdvb/recdvb"]
	path = Dockerfile/recdvb/recdvb
	url = https://github.com/kaikoma-soft/recdvb.git
