name: Kubernetes manifest lint

on:
  push:
    branches-ignore:
      - buildcache

jobs:
  enumerate-manifests:
    runs-on: ubuntu-slim
    outputs:
      name: ${{ steps.enumerate.outputs.name }}
    steps:
      - uses: actions/checkout@v6

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: json
          filters: |
            changed:
              - 'kubernetes/**'

      - id: enumerate
        run: |
          echo "name=$(jq -c "$JQ_FILTER" <<< "$JQ_INPUT_JSON")" | tee -a $GITHUB_OUTPUT
        env:
          JQ_INPUT_JSON: ${{ steps.filter.outputs.changed_files }}
          JQ_FILTER: 'map( capture("^kubernetes/(?<a>[a-zA-Z0-9_-]+)/") | .a ) | unique | .'

  kubernetes-manifest-lint:
    runs-on: ubuntu-slim
    needs:
      - enumerate-manifests
    if: ${{ needs.enumerate-manifests.outputs.name != '' && toJson(fromJson(needs.enumerate-manifests.outputs.name)) != '[]' }}

    strategy:
      matrix:
        name: ${{ fromJSON(needs.enumerate-manifests.outputs.name) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Make temporal output directory
        run: mkdir -p out/kustomize

      - name: Kustomize build
        run: kubectl kustomize --enable-helm kubernetes/${{ matrix.name }} > out/kustomize/manifest.yaml

      - name: Apply kube-score
        uses: piraces/kube-score-ga@v0.1.3
        with:
          manifests-folders: './out/kustomize/*.yaml'
